[flake8]
exclude =
    .venv,
    .git,
    __pycache__,
    build,
    dist
max-line-length = 100
# Add the 'ignore' line to disable specific error codes
ignore = C812, C819, W503, B008, C813, C815, B007
