# requirements-dev.txt

# Core Development Tools
black
flake8
flake8-bugbear
flake8-commas
pre-commit
bandit
mypy

# Testing
pytest
pytest-cov
pytest-mock

# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]

# CLI Tooling
typer[all]
